Website/Connected Services/NationalityService/Nationality.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Nationality" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53947/Nationality.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53947/Nationality.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53947/Nationality.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationServices.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INationality_Message_InputMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="INationality_Message_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:message name="INationality_GetNationalities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNationalities" />
  </wsdl:message>
  <wsdl:message name="INationality_GetNationalities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNationalitiesResponse" />
  </wsdl:message>
  <wsdl:message name="INationality_GetNationalityByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNationalityByID" />
  </wsdl:message>
  <wsdl:message name="INationality_GetNationalityByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNationalityByIDResponse" />
  </wsdl:message>
  <wsdl:message name="INationality_PostNationality_InputMessage">
    <wsdl:part name="parameters" element="tns:PostNationality" />
  </wsdl:message>
  <wsdl:message name="INationality_PostNationality_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostNationalityResponse" />
  </wsdl:message>
  <wsdl:message name="INationality_PutNationality_InputMessage">
    <wsdl:part name="parameters" element="tns:PutNationality" />
  </wsdl:message>
  <wsdl:message name="INationality_PutNationality_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutNationalityResponse" />
  </wsdl:message>
  <wsdl:message name="INationality_DeleteNationality_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNationality" />
  </wsdl:message>
  <wsdl:message name="INationality_DeleteNationality_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNationalityResponse" />
  </wsdl:message>
  <wsdl:portType name="INationality">
    <wsdl:operation name="Message">
      <wsdl:input wsaw:Action="http://tempuri.org/INationality/Message" message="tns:INationality_Message_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INationality/MessageResponse" message="tns:INationality_Message_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNationalities">
      <wsdl:input wsaw:Action="http://tempuri.org/INationality/GetNationalities" message="tns:INationality_GetNationalities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INationality/GetNationalitiesResponse" message="tns:INationality_GetNationalities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNationalityByID">
      <wsdl:input wsaw:Action="http://tempuri.org/INationality/GetNationalityByID" message="tns:INationality_GetNationalityByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INationality/GetNationalityByIDResponse" message="tns:INationality_GetNationalityByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostNationality">
      <wsdl:input wsaw:Action="http://tempuri.org/INationality/PostNationality" message="tns:INationality_PostNationality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INationality/PostNationalityResponse" message="tns:INationality_PostNationality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutNationality">
      <wsdl:input wsaw:Action="http://tempuri.org/INationality/PutNationality" message="tns:INationality_PutNationality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INationality/PutNationalityResponse" message="tns:INationality_PutNationality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNationality">
      <wsdl:input wsaw:Action="http://tempuri.org/INationality/DeleteNationality" message="tns:INationality_DeleteNationality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INationality/DeleteNationalityResponse" message="tns:INationality_DeleteNationality_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INationality" type="tns:INationality">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/INationality/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNationalities">
      <soap:operation soapAction="http://tempuri.org/INationality/GetNationalities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNationalityByID">
      <soap:operation soapAction="http://tempuri.org/INationality/GetNationalityByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostNationality">
      <soap:operation soapAction="http://tempuri.org/INationality/PostNationality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutNationality">
      <soap:operation soapAction="http://tempuri.org/INationality/PutNationality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNationality">
      <soap:operation soapAction="http://tempuri.org/INationality/DeleteNationality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Nationality">
    <wsdl:port name="BasicHttpBinding_INationality" binding="tns:BasicHttpBinding_INationality">
      <soap:address location="http://localhost:53947/Nationality.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>